apiVersion: apps/v1
kind: Deployment
metadata:
    name: rabbitmq
spec:
    replicas: 1
    selector:
        matchLabels:
            app: rabbitmq
    template:
        metadata:
            labels:
                app: rabbitmq
        spec:
            containers:
            - name: rabbitmq
              image: rabbitmq:3-management
              ports:
              - containerPort: 5672
              - containerPort: 15672
              volumeMounts:
              - name: rabbitmq-storage
                mountPath: /var/lib/rabbitmq
              resources:
                requests:
                  memory: "256Mi"
                  cpu: "250m"
                  ephemeral-storage: "512Mi"
                limits:
                  memory: "512Mi"
                  cpu: "500m"
                  ephemeral-storage: "1Gi"
            volumes:
            - name: rabbitmq-storage
              persistentVolumeClaim:
                claimName: rabbitmq-pvc