apiVersion: v1
kind: Secret
metadata:
    name: challenge-english-secret
    namespace: dev
type: Opaque
stringData:
  OPENAI_KEY: "sua-chave-openai-aqui"
  HUGGING_KEY: "sua-chave-hugging-aqui"
  HUGGING_MODEL: "seu-modelo-aqui"