apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-mn-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-mn-db
  template:
    metadata:
      labels:
        app: postgres-mn-db
    spec:
      containers:
      - name: postgres
        image: postgres:17
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "diego"
        - name: POSTGRES_PASSWORD
          value: "diego"
        - name: POSTGRES_DB
          value: "manager_person"
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
            ephemeral-storage: "1Gi"
          requests:
            memory: "256Mi"
            cpu: "250m"
            ephemeral-storage: "512Mi"
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc