apiVersion: v1
kind: ResourceQuota
metadata:
  name: dev-quota
  namespace: dev
spec:
    hard:
        requests.cpu: "4"
        requests.memory: "8Gi"
        requests.storage: "10Gi"
        persistentvolumeclaims: "10"
        limits.cpu: "8"
        limits.memory: "16Gi"
        limits.ephemeral-storage: "5Gi"